body {
    background-image: url('Logofundo.jpg');
    background-size: cover; /* Faz a imagem cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

h2 {
    color: #fff;
    font-weight: 800;
    font-size: 40px;
}

.textosologo {
    color: #1c4587;
    text-shadow: 
        -1px -1px 0 #ffffff,  
        1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
        1px  1px 0 #ffffff;
}

p {
    font-size: 16px; /* Ajustado para um tamanho menor */
    color: #fff;
    margin: 10px 0; /* Adiciona margem para espaçamento */
}

button {
    background-color: #1c4587;
    color: aliceblue;
    margin-top: 30px;
    padding: 1px;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    width: 100%; /* Garante que o botão ocupe 100% da largura */
}

button:hover {
    background-color: #1e54aa;
    padding: 10px;
}

.Logoreal {
    max-width: 90%; /* Limita a largura máxima para dispositivos móveis */
    height: auto; /* Mantém a proporção */
}

.contato a i {
    color: #25d366; /* verde WhatsApp */
    margin-right: 6px;
    font-size: 40px; /* aumente ou diminua esse valor para alterar o tamanho */
}

.endereco {
    font-size: 18px;
    color: #fff;
    margin-top: 30px;
    font-weight: bold;
}
.link {
    color: #eef1f4;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 600px) {
    .contato,
    .funcionamento {
        padding: 15px;
        margin: 0;
    }
    * {
        box-sizing: border-box; /* Garante que o padding e border sejam incluídos na largura total */
    }
    .carrinho {
        display: none; /* Esconde o carrinho para não sobrepor */
    }
    .botoes{
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }

   

    button {
        display: block;
        width: 100%; /* Garante que o botão ocupe 100% da largura */
        margin-bottom: 0; /* Espaçamento entre os botões */
    }
}
